@model VMContact
@{
    ViewData["Title"] = "Contact Page";
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from bestwebcreator.com/anger/demo/demo-travel/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Aug 2023 14:42:02 GMT -->
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Anil z" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anger is creative business agency, corporate, simple and clean template, Based on Bootstrap responsive multipurpose business agency and portfolio HTML template with unique home page demos">
    <meta name="keywords" content="creative, fullscreen, business, photography, portfolio, one page, bootstrap responsive, start-up, ui/ux, html template, css3, studio, branding, creative design, multipurpose, multi-purpose, parallax, personal, masonry, grid, coming soon, carousel, agency">

    <!-- SITE TITLE -->
    <title>Contact | Anger - Creative Business MultiPurpose HTML5 Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.png">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="../assets/css/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=K2D:100,200,300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Icon Font -->
    <link href="../assets/css/ico-moon.css" rel="stylesheet">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="../assets/css/ionicons.min.css">
    <link rel="stylesheet" href="../assets/css/themify-icons.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../assets/css/all.min.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="../assets/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/owlcarousel/css/owl.theme.css">
    <link rel="stylesheet" href="../assets/owlcarousel/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="../assets/css/magnific-popup.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <!-- Demo Travel Style CSS -->
    <link rel="stylesheet" href="css/demo-travel.css">
    <link rel="stylesheet" id="layoutstyle" href="../assets/color/theme-orange.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106310707-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-106310707-1', { 'anonymize_ip': true });
    </script>

    <!-- Start of StatCounter Code -->
    <script>
          <!--
        var sc_project = 11921154;
        var sc_security = "6c07f98b";
        var scJsHost = (("https:" == document.location.protocol) ?
            "https://secure." : "http://www.");
        //-->

        document.write("<sc" + "ript src='" + scJsHost + "statcounter.com/counter/counter.js'></" + "script>");</script>
    <!-- End of StatCounter Code -->

</head>

<body>

    <!-- LOADER -->
    <div class="preloader">
        <div class="loader_grid">
            <div class="loader_box loader_box1"></div>
            <div class="loader_box loader_box2"></div>
            <div class="loader_box loader_box3"></div>
            <div class="loader_box loader_box4"></div>
            <div class="loader_box loader_box5"></div>
            <div class="loader_box loader_box6"></div>
            <div class="loader_box loader_box7"></div>
            <div class="loader_box loader_box8"></div>
            <div class="loader_box loader_box9"></div>
        </div>
    </div>
    <!-- END LOADER -->
    <!-- START SECTION BANNER -->
    <section class="breadcrumb_section overlay_bg2 page-title-light parallax_bg" data-parallax-bg-image="images/about_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="page-title animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                        <h1>Contact</h1>
                    </div>
                    <nav aria-label="breadcrumb" class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION BANNER -->
    <!-- START SECTION CONTACT -->
    <section class="small_pb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="heading_s3 mb-md-4 text-center animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                        <h2>Contact Information</h2>
                    </div>
                    <p class="text-center animation" data-animation="fadeInUp" data-animation-delay="0.2s"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="clearfix small_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="small_padding contact_box">
                        <div class="row justify-content-center">
                            <div class="col-md-4 mb-md-0 mb-3 text-center">
                                <div class="icon_box icon_box_style_1 animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                                    <div class="box_icon mb-3">
                                        <i class="ti-location-pin"></i>
                                    </div>
                                    <div class="icon_box_content">
                                        <h5 class="text-uppercase py-md-2">Address</h5>
                                        <p>123 Street, New South London , UK</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-md-0 mb-3 text-center">
                                <div class="icon_box icon_box_style_1 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                    <div class="box_icon mb-3">
                                        <i class="ti-mobile"></i>
                                    </div>
                                    <div class="icon_box_content">
                                        <h5 class="text-uppercase py-md-2">Phone</h5>
                                        <p>123-456-7890</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-md-0 mb-3 text-center">
                                <div class="icon_box icon_box_style_1 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                                    <div class="box_icon mb-3">
                                        <i class="ti-email"></i>
                                    </div>
                                    <div class="icon_box_content">
                                        <h5 class="text-uppercase py-md-2">Email</h5>
                                        <p>info@sitename.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION CONTACT -->
    <!-- START SECTION MAP -->
    <section class="small_pt small_pb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="contact_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193229.77301255226!2d-74.05531241936525!3d40.823236500441624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f613438663b5%3A0xce20073c8862af08!2sW+123rd+St%2C+New+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1533565007513" allowfullscreen="" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- START SECTION MAP -->
    <!-- START SECTION CONTACT -->
    <section class="small_pt">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading_s3 mb-md-4 text-center animation" data-animation="fadeInUp" data-animation-delay="0.1s">
                        <h2>Get In touch</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="clearfix small_divider"></div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="field_form animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                        <form method="post" name="enq">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input required="required" placeholder="Enter Name *" id="first-name" class="form-control" name="name" type="text">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input required="required" placeholder="Enter Email *" id="email" class="form-control" name="email" type="email">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input required="required" placeholder="Enter Phone No. *" id="phone" class="form-control" name="phone" type="phone">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input placeholder="Enter Subject" id="subject" class="form-control" name="subject" type="subject">
                                </div>
                                <div class="form-group col-lg-12">
                                    <textarea required="required" placeholder="Message *" id="description" class="form-control" name="message" rows="4"></textarea>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" title="Submit Your Message!" class="btn btn-default" id="submitButton" name="submit" value="Submit">Submit</button>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <div id="alert-msg" class="alert-msg text-center"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION CONTACT -->
    <!-- END SECTION TESTIMONIAL -->
    <!-- START FOOTER SECTION -->
    
    <!-- END FOOTER SECTION -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <!-- Latest jQuery -->
    <script src="../assets/js/jquery-1.12.4.min.js"></script>
    <!-- jquery-ui -->
    <script src="../assets/js/jquery-ui.js"></script>
    <!-- popper min js -->
    <script src="../assets/js/popper.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="../assets/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- magnific-popup min js  -->
    <script src="../assets/js/magnific-popup.min.js"></script>
    <!-- waypoints min js  -->
    <script src="../assets/js/waypoints.min.js"></script>
    <!-- parallax js  -->
    <script src="../assets/js/parallax.js"></script>
    <!-- countdown js  -->
    <script src="../assets/js/jquery.countdown.min.js"></script>
    <!-- fit video  -->
    <script src="../assets/js/jquery.fitvids.js"></script>
    <!-- jquery.counterup.min js -->
    <script src="../assets/js/jquery.counterup.min.js"></script>
    <!-- isotope min js -->
    <script src="../assets/js/isotope.min.js"></script>
    <!-- elevatezoom js -->
    <script src='../assets/js/jquery.elevatezoom.js'></script>
    <!-- scripts js -->
    <script src="../assets/js/scripts.js"></script>

</body>

<!-- Mirrored from bestwebcreator.com/anger/demo/demo-travel/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Aug 2023 14:42:02 GMT -->
</html>